
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Puzzles-primary: mat-palette($mat-indigo);
$Puzzles-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Puzzles-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Puzzles-theme: mat-light-theme((
  color: (
    primary: $Puzzles-primary,
    accent: $Puzzles-accent,
    warn: $Puzzles-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Puzzles-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Puzzles-primary: mat-palette($mat-indigo);
$Puzzles-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Puzzles-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Puzzles-theme: mat-light-theme((
  color: (
    primary: $Puzzles-primary,
    accent: $Puzzles-accent,
    warn: $Puzzles-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Puzzles-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Puzzles-primary: mat-palette($mat-light-blue);
$Puzzles-accent: mat-palette($mat-light-green);
$Puzzles-warn: mat-palette($mat-red);


$Puzzles-theme: mat-light-theme((
  color: (
    primary: $Puzzles-primary,
    accent: $Puzzles-accent,
    warn: $Puzzles-warn,
  )
));
@include angular-material-theme($Puzzles-theme);

//for dark theme
$Puzzles-primary-dark: mat-palette($mat-orange);
$Puzzles-accent-dark: mat-palette($mat-yellow);
$Puzzles-warn-dark: mat-palette($mat-red);

$Puzzles-theme-dark: mat-dark-theme((
  color: (
    primary: $Puzzles-primary-dark,
    accent: $Puzzles-accent-dark,
    warn: $Puzzles-warn-dark,
  )
));

.dark-theme-mode {
  @include angular-material-theme($Puzzles-theme-dark);
}